@model IEnumerable<radio_waves.Models.InsuranceCompanySettlement>

@{
    ViewData["Title"] = "InsuranceCompanySummary";
}

<h1>InsuranceCompanySummary</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProviderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceCompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalInsuranceShare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetPayable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SettlementDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalInsuranceShare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetPayable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettlementDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <form asp-action="MarkAsComplete" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="ProviderId" value="@item.ProviderId" />
                        <input type="hidden" name="InsuranceCompanyName" value="@item.InsuranceCompanyName" />
                        <input type="hidden" name="TotalInsuranceShare" value="@item.TotalInsuranceShare" />
                        <input type="hidden" name="NetPayable" value="@item.NetPayable" />
                        <input type="hidden" name="SettlementDate" value="@item.SettlementDate.ToString("yyyy-MM-ddTHH:mm:ss")" />
                        <button type="submit" class="btn btn-sm btn-success">Settle</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
