@model IEnumerable<radio_waves.Models.InsuranceCompanySettlement>

@{
    ViewData["Title"] = "InsuranceCompanySettlement";
}

<h1>Insurances Companies Settlement History</h1>


<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceCompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalInsuranceShare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetPayable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SettlementDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalInsuranceShare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetPayable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettlementDate)
            </td>
            
        </tr>
}
    </tbody>
</table>
