@model IEnumerable<radio_waves.Models.TechnicianSettlement>

@{
    ViewData["Title"] = "TechniciansSettlement";
}

<h1>TechniciansSettlement</h1>

<form asp-action="TechniciansSettlement" method="post">
    @for (int i = 0; i < Model.Count(); i++)
    {
        <input type="hidden" name="Settlements[@i].TechnicianId" value="@Model.ElementAt(i).TechnicianId" />
        <input type="hidden" name="Settlements[@i].TechnicianName" value="@Model.ElementAt(i).TechnicianName" />

        <input type="hidden" name="Settlements[@i].TotalFromReservations" value="@Model.ElementAt(i).TotalFromReservations" />
        <input type="hidden" name="Settlements[@i].TotalFromInsurance" value="@Model.ElementAt(i).TotalFromInsurance" />
        <input type="hidden" name="Settlements[@i].TotalDebtShare" value="@Model.ElementAt(i).TotalDebtShare" />
        <input type="hidden" name="Settlements[@i].TotalExpenses" value="@Model.ElementAt(i).TotalExpenses" />
        <input type="hidden" name="Settlements[@i].NetPayable" value="@Model.ElementAt(i).NetPayable" />

        <input type="hidden" name="Settlements[@i].GeneratedAt" value="@Model.ElementAt(i).GeneratedAt.ToString("o")" />
        <input type="hidden" name="Settlements[@i].SettelmentDate" value="@Model.ElementAt(i).SettelmentDate.ToString("yyyy-MM-dd")" />
    }

    <button type="submit" class="btn btn-success">Finalize Technician Settlement</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TechnicianName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFromReservations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFromInsurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDebtShare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalExpenses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetPayable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneratedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalFromReservations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalFromInsurance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDebtShare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExpenses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetPayable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneratedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technician.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
